.container {
    margin: 0 auto;
    max-width: 300px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
  }
  
  input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }
  
  .emoji {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .emoji span:first-of-type {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .emoji span:last-of-type {
    font-size: 40px;
  }
  